{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Client Registration</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success btn-block">Register</button>
            </form>
            <p class="text-center mt-2">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}
