{% extends "admin/change_list.html" %}
{% load humanize %}

{% block content %}
<div class="module">
    <h1>Form Monitoring Dashboard</h1>
    <div class="results">
        <table>
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Visits to /salescontact/</td>
                    <td>{{ total_visits|intcomma }}</td>
                </tr>
                <tr>
                    <td>Total ContactMessage Submissions</td>
                    <td>{{ total_submissions|intcomma }}</td>
                </tr>
                <tr>
                    <td>Submission Percentage</td>
                    <td>{{ submission_percentage }}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{ block.super }}
{% endblock %}